.container {
  display: flex;
  justify-content: center;
  width:100%;
  margin-top: 100px;
}

.messages-container {
  width: 50%;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  margin-right: 10px;
}

.messages-container > h1 {
  color: #3498db;
  font-size: 40px;
}

.messages-container > input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid 1px #3498db;
  color: #2980b9;
  margin-right: 100px;
  margin-bottom: 20px;
  outline: none;
}

.message {
  box-shadow: 0px 0px 14px -10px black;
  border-radius: 10px;
  padding: 0px 20px 10px 20px;
  margin-bottom: 20px;
}

.message > .person {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #ecf0f1;
}
.message > .person > img {
  width: 30px;
  margin-right: 10px;
} 

.message > .person > h5 > span {
  color: #bdc3c7;
  margin-left: 10px;
  font-size: 60%;
}

.profile {
  width: 20%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 14px -10px black;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.profile > img {
  width: 80%;
}

.message-controllers {
  display: flex;
  justify-content: center;
}

.message-controllers > span {
  background-color: #2c3e50;
  color: #1abc9c;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.message-controllers > span:hover{
  background-color: #1abc9c;
  color: #2c3e50;
}

.message-controllers > span:first-child {
  margin-right: 2px;
}

.message-body {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2980b9;
}